body {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  color: var(--light-gray-color);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header__logo {
    font-size: 24px;
    line-height: 1.19;
  }
}

.header__label {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header__list,
  .contacts__list {
    display: none;
  }
}

.menu_mobile__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 88px;
}

.menu_mobile__button,
.header__button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu_mobile__button:hover, .menu_mobile__button:focus,
.header__button:hover,
.header__button:focus {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu_mobile__button,
  .header__button {
    display: none;
  }
}

.header__button {
  padding-left: 275px;
}

.menu_mobile__button--cross {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 385px;
}

.menu_mobile {
  z-index: 100;
  width: 480px;
  height: 796px;
  padding: 0 40px;
  padding-bottom: 48px;
  background-color: #ffffff;
}

.menu_mobile.is-open {
  display: block;
}

@media screen and (max-width: 767px) {
  .menu_mobile {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    margin: 0;
    width: 100%;
    height: 796px;
  }
}

@media screen and (min-width: 768px) {
  .menu_mobile {
    display: none;
  }
}

.mobile_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 302px;
}

.mobile_nav li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile_nav__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1, 17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile_nav__link--active {
  color: #2196f3;
}

.mobile_contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 64px;
}

.mobile_contacts li:not(:last-child) {
  margin-bottom: 32px;
}

.mobile_contacts__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1, 16;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile_contacts__link--active {
  font-size: 34px;
  line-height: 1, 17;
  color: #2196f3;
}

.mobile_social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile_social__list li {
  padding: 0 10px;
}

.mobile_social__list li:first-child {
  padding-left: 0;
}

.mobile_social__list li:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile_social__link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1, 22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .header__navlist,
  .contacts {
    display: none;
  }
}

.header__list {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list--left {
  margin-left: auto;
}

.header__list li:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    margin-bottom: -11px;
  }
}

.contacts__list {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__list--left {
  margin-left: 84px;
}

.contacts__list li:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contacts__list li:not(:last-child) {
    margin-right: 30px;
  }
}

.header__list a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__list a:hover, .header__list a:focus {
  color: #2196f3;
}

.contacts__list a {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list a:hover, .contacts__list a:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contacts__list a {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header__list .header__item,
.contacts__list .header__item {
  position: relative;
}

.header__list .header__item::after,
.contacts__list .header__item::after {
  display: block;
  position: absolute;
  content: "";
  top: 52px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .header__list .header__item::after,
  .contacts__list .header__item::after {
    top: 46px;
  }
}

.header__list .contacts__link,
.contacts__list .contacts__link {
  color: #757575;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item--active {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*
header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
  margin-right: 93px;

  font-family: $accent-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $black-color;
}

.header__label {
  color: $blue-color;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__list,
.contacts__list {
  display: inline-block;
  display: flex;
  &--left {
    margin-left: auto;
  }
  li:not(:last-child) {
    margin-right: 50px;
  }
}

.header__list,
.contacts__list {
  a {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: $gray-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: $blue-color;
    }
  }
}

.header__list,
.contacts__list {
  .header__item {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 45px;

      width: 100%;
      height: 4px;

      border-radius: 4px;
      background-color: $blue-color;
    }
  }
  .contacts__link {
    color: $light-gray-color;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
}

.header__item--active {
  color: $blue-color;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
*/
.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;
  text-align: center;
  min-height: 400px;
  max-width: 480px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header_mobile.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header_mobile.jpg");
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-position: center;
}

@media screen and (min-width: 768px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    min-height: 400px;
    max-width: 768px;
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header@2x.jpg");
    background-repeat: no-repeat;
    background-size: 768px 400px;
    background-position: center;
  }
}

@media screen and (min-width: 1200px), screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    padding: 200px 0;
    min-height: 600px;
    max-width: 1600px;
    background-color: #2f303a;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/header@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/header@2x.jpg");
    background-repeat: no-repeat;
    background-size: 1600px 600px;
    background-position: center;
  }
}

.hero__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  cursor: pointer;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

/*.hero {
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;

  min-height: 600px;
  max-width: 1600px;

  background-color: $dark-gray-color;
  background-image: linear-gradient(
      to right,
      $background-color,
      $background-color
    ),
    url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-family: $main-font;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $white-color;
}

.hero__button {
  cursor: pointer;
  display: inline-block;

  margin-top: 30px;
  padding: 10px 32px;

  width: 200px;
  height: 50px;

  font-family: $main-font;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  background-color: $blue-color;
  color: $white-color;
  box-shadow: 0px 4px 4px $button-shadow;
  border-radius: 4px;
  border-color: transparent;
}*/
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.benefits__title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: start;
  }
}

.benefits__description {
  margin-top: 10px;
  width: 450px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .benefits__description {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__description {
    width: 270px;
  }
}

.benefits {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding: 94px 0;
  }
}

@media screen and (max-width: 767px) {
  .benefits__list .benefits__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.benefits__item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits__item:nth-child(1)::before {
  background: #f5f4fa url("../images/antenna 1.svg") no-repeat center;
}

.benefits__item:nth-child(2)::before {
  background: #f5f4fa url("../images/clock 1.svg") no-repeat center;
}

.benefits__item:nth-child(3)::before {
  background: #f5f4fa url("../images/diagram 1.svg") no-repeat center;
}

.benefits__item:nth-child(4)::before {
  background: #f5f4fa url("../images/astronaut 1.svg") no-repeat center;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

/*.benefits__list {
  display: flex;
  li:not(:last-child) {
    margin-right: 30px;
  }
}

.benefits__title {
  font-family: $main-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $gray-color;
}

.benefits__description {
  margin-top: 10px;

  width: 270px;

  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: $light-gray-color;
}

.benefits {
  padding: 94px 0;
}

.benefits__item {
  &::before {
    content: "";
    display: block;

    margin-bottom: 30px;

    height: 120px;

    background-color: $background;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(1)::before {
    background: $background url("../images/antenna\ 1.svg") no-repeat center;
  }
  &:nth-child(2)::before {
    background: $background url("../images/clock\ 1.svg") no-repeat center;
  }
  &:nth-child(3)::before {
    background: $background url("../images/diagram\ 1.svg") no-repeat center;
  }
  &:nth-child(4)::before {
    background: $background url("../images/astronaut\ 1.svg") no-repeat center;
  }
}
*/
.activities {
  padding: 94px 0;
}

.activities--top {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .activities {
    display: none;
  }
}

.activities__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
}

.activities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activities__list li:not(:last-child) {
  margin-right: 30px;
}

.activities__item {
  position: relative;
}

.activities__overlay {
  position: absolute;
  bottom: 3px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities__description {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__image {
  width: 450px;
}

@media screen and (min-width: 768px) {
  .team__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__image {
    width: 270px;
  }
}

.team__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list .team_social__list {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__list .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

.team__item {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__position {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.team_social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.team_social__list li:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .team_social__list li {
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .team_social__list li {
    padding-bottom: 30px;
  }
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.team__icon {
  width: 20px;
  height: 20px;
}

.team__linkedin {
  width: 25px;
  height: 25px;
}

/*.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: $background;
}

.team__title {
  margin-bottom: 50px;

  text-align: center;

  font-family: $main-font;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $gray-color;
}

.team__list {
  display: flex;
  li:not(:last-child) {
    margin-right: 30px;
  }
}

.team__item {
  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__box {
  padding: 30px 32px;
}

.team__name {
  margin-bottom: 10px;

  text-align: center;
  font-family: $main-font;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $gray-color;
}

.team__position {
  text-align: center;
  font-family: $main-font;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $light-gray-color;
}

.team_social__list {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  li:not(:last-child) {
    margin-right: 10px;
  }
}

.team__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $item-color;
  background-color: $icons-human-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blue-color;
    fill: $white-color;
  }
}

.team__icon {
  width: 20px;
  height: 20px;
}

.team__linkedin {
  width: 25px;
  height: 25px;
}*/
.customers {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding: 94px 0;
  }
}

.customers__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .customers__title .customers__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

@media screen and (max-width: 1199px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .customers__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers__item {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.customers__link {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__icon {
  width: 106px;
  height: 60px;
}

/*.customers {
  padding: 94px 0;
}

.customers__title {
  margin-bottom: 50px;

  text-align: center;

  font-family: $main-font;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: $gray-color;
}

.customers__list {
  display: flex;
  justify-content: space-between;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.customers__link {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;

  border: 1px solid $item-color;
  border-radius: 4px;
  fill: $item-color;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $blue-color;
    border: 1px solid $blue-color;
  }
}

.customers__icon {
  width: 106px;
  height: 60px;
}
*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  padding: 60px 0;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0;
    background-color: #2f303a;
  }
}

@media screen and (min-width: 1200px) {
  .footer__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    margin-bottom: 60px;
  }
}

.footer__adress {
  min-width: 232px;
}

@media screen and (min-width: 1200px) {
  .footer__adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 70px;
    margin-bottom: 0;
    min-width: 231px;
  }
}

.footer__logotype {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__logotype .footer__logotype {
    font-size: 26px;
    line-height: 1.19;
  }
}

.footer__label {
  color: #2196f3;
}

.footer__street {
  margin-bottom: 9px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__social_networks {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  min-width: 206px;
}

@media screen and (min-width: 1200px) {
  .footer__social_networks {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__social_networks {
    margin-top: 60px;
  }
}

.footer__welcome_title {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__contacts {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__contacts li:first-child {
  margin-bottom: 9px;
}

.footer__social_networks_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__social_networks_list.footer__social_networks_list--top {
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer__link--white {
  fill: #ffffff;
}

.footer__icon {
  width: 20px;
  height: 20px;
}

.footer__linkedin {
  width: 25px;
  height: 25px;
}

.footer__subscription {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__input {
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__input {
    width: 358px;
  }
}

.footer__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border-color: transparent;
}

.footer__button::after {
  content: "";
  padding: 13px 28px 13px 10px;
  width: 24px;
  height: 24px;
  background: #2196f3 url(../images/icon_send.svg) no-repeat center;
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}

/*.footer {
  padding: 60px 0;
  background-color: $dark-gray-color;
}

.footer__position {
  display: flex;
  align-items: baseline;
}

.footer__adress {
  display: flex;
  flex-direction: column;

  margin-right: 70px;

  min-width: 231px;
}

.footer__logotype {
  display: inline-block;

  margin-bottom: 20px;

  font-family: $accent-font;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $white-color;
}

.footer__label {
  color: $blue-color;
}

.footer__street {
  margin-bottom: 9px;

  font-family: $main-font;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $white-color;
}

.footer__social_networks {
  display: inline-flex;
  flex-direction: column;

  padding: 0;

  min-width: 206px;
}

.footer__welcome_title {
  margin-bottom: 20px;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.footer__contacts {
  font-family: $main-font;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $contacts-color;
  li:first-child {
    margin-bottom: 9px;
  }
}

.footer__social_networks_list {
  display: flex;
  justify-content: space-around;
  &.footer__social_networks_list--top {
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  fill: $item-color;
  background-color: $icons-human-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blue-color;
    fill: $white-color;
  }
  &--white {
    fill: $white-color;
  }
}

.footer__icon {
  width: 20px;
  height: 20px;
}

.footer__linkedin {
  width: 25px;
  height: 25px;
}

.footer__subscription {
  margin-left: 93px;
}

.footer__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $white-color;
}

.footer__form {
  display: flex;
  margin-top: 20px;

  width: 570px;
}

.footer__input {
  margin-right: 12px;

  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;

  width: 358px;
  height: 50px;

  border: 1px solid $mail-border-color;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px $button-shadow);
  border-radius: 4px;
  background-color: $dark-gray-color;
  color: $white-color;
}

.footer__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 200px;
  height: 50px;

  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: $white-color;
  background: $blue-color;
  border-radius: 4px;
  border-color: transparent;
  &::after {
    content: "";

    padding: 13px 28px 13px 10px;

    width: 24px;
    height: 24px;
    background: $blue-color url(../images/icon_send.svg) no-repeat center;
  }
}
*/
.header__borderColor {
  border-bottom: 1px solid #ececec;
}

.menu {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .menu {
    padding: 94px 0;
  }
}

.menu__buttons {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .menu__buttons {
    margin-bottom: 30px;
  }
  .menu__buttons li:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__buttons .menu__buttons {
    margin-bottom: 50px;
  }
  .menu__buttons .menu__buttons li:not(:last-child) {
    margin-right: 8px;
  }
}

.menu__list {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -15px;
}

.menu__list li {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .menu__list {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .menu__list li:nth-child(4) {
    margin-bottom: 0;
  }
  .menu__list li:nth-child(5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__list li:nth-child(1) {
    margin-bottom: 0;
  }
  .menu__list li:nth-child(2) {
    margin-bottom: 0;
  }
  .menu__list li:nth-child(3) {
    margin-bottom: 0;
  }
  .menu__list li:nth-child(4) {
    margin-bottom: 0;
  }
  .menu__list li:nth-child(5) {
    margin-bottom: 0;
  }
}

.menu__button {
  cursor: pointer;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__button:hover, .menu__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.menu__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .menu__gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.menu__gallery_element {
  width: 450px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .menu__gallery_element {
    width: 370px;
  }
}

@media screen and (max-width: 767px) {
  .menu__gallery .menu__gallery_element:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__gallery_element {
    width: 354px;
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__gallery_element {
    margin-left: 30px;
    margin-top: 30px;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__gallery_element:nth-child(3) {
    margin-right: 0;
  }
  .menu__gallery_element:nth-child(6) {
    margin-right: 0;
  }
  .menu__gallery_element:nth-child(9) {
    margin-right: 0;
  }
}

.menu__gallery_link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__gallery_link:hover, .menu__gallery_link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu__image {
  position: relative;
  overflow: hidden;
}

.menu__image img {
  width: 100%;
  height: 294px;
}

.menu__gallery_description {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(298px);
          transform: translateY(298px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__gallery_link:hover .menu__gallery_description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__gallery_link:focus .menu__gallery_description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.menu__card {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__card--bottom {
    padding-bottom: 56px;
  }
}

.menu__card_name {
  margin: 0;
  padding: 0;
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.menu__card_description {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*.header__borderColor {
  border-bottom: 1px solid $border-color;
}

.menu {
  padding: 94px 0;
}

.menu__buttons {
  margin-bottom: 50px;
  li:not(:last-child) {
    margin-right: 8px;
  }
}

.menu__list {
  display: inline-block;
  display: flex;
  justify-content: center;
}

.menu__button {
  cursor: pointer;

  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  font-family: $main-font;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $gray-color;
  background-color: $background;
  border-radius: 4px;
  border: none;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $blue-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.menu__gallery {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.menu__gallery_element {
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-child(3) {
    margin-right: 0;
  }
  &:nth-child(6) {
    margin-right: 0;
  }
  &:nth-child(9) {
    margin-right: 0;
  }
}

.menu__gallery_link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.menu__image {
  position: relative;
  overflow: hidden;
}

.menu__gallery_description {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: $white-color;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(298px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__gallery_link:hover .menu__gallery_description {
  transform: translateY(0);
}

.menu__gallery_link:focus .menu__gallery_description {
  transform: translateY(0);
}

.menu__card {
  padding: 20px 24px;

  border-right: 1px solid $portfolio-color;
  border-bottom: 1px solid $portfolio-color;
  border-left: 1px solid $portfolio-color;
}

.menu__card_name {
  margin: 0;
  padding: 0;

  text-align: start;

  font-family: $main-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $gray-color;
}

.menu__card_description {
  margin: 0;
  padding: 0;

  font-family: $main-font;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $light-gray-color;
}

img {
  max-width: 100%;
}*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 609px;
  padding: 0 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: transforms 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transforms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__button_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 372px;
  padding: 6px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button_close:hover, .modal__button_close:focus {
  fill: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal__button_close {
    margin-left: 450px;
  }
}

.modal__button_icon_close {
  width: 18px;
  height: 18px;
}

.modal__header {
  margin-bottom: 12px;
  width: 370px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1, 5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .modal__header {
    width: 448px;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 370px;
}

@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.modal__label {
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__label--bottom {
  margin-bottom: 20px;
}

.modal__input {
  cursor: pointer;
  margin-bottom: 10px;
  padding-left: 42px;
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_textarea {
  cursor: pointer;
  margin-top: 4px;
  padding: 12px 16px;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_textarea:focus {
  border: 1px solid #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal_textarea {
    width: 448px;
  }
}

.modal__label_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.modal__icon_checkbox {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.modal__checkbox:checked + .modal__icon_checkbox {
  background-color: #2196f3;
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
}

.modal__checkbox:focus + .modal__icon_checkbox {
  border-color: #2196f3;
}

.modal__agree {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .modal__agree {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__conditions {
  margin-left: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .modal__conditions {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background: #2196f3;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal__button:hover, .modal__button:focus {
    background-color: #188ce8;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    .modal {
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  height: 581px;

  background-color: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transforms 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button_close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-top: 8px;
  margin-right: 8px;
  margin-left: 490px;
  padding: 6px;

  width: 30px;
  height: 30px;
  border: 1px solid $button-close-color;
  background: $white-color;
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $blue-color;
  }
}

.modal__button_icon_close {
  width: 18px;
  height: 18px;
}

.modal__header {
  margin-bottom: 12px;

  text-align: center;
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1, 15;
  letter-spacing: 0.03em;
  color: $gray-color;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__block {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__label {
  margin-bottom: 4px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1, 16;
  letter-spacing: 0.01em;
  color: $light-gray-color;
  &--bottom {
    margin-bottom: 20px;
  }
}

.modal__input {
  cursor: pointer;

  margin-bottom: 10px;
  padding-left: 42px;

  width: 448px;
  height: 40px;

  border: 1px solid $size-border_color;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $blue-color;
  }
}

.modal__input:focus + .modal__icon {
  fill: $blue-color;
}

.modal__icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 28px;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: $gray-color;
  background-color: $white-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_textarea {
  cursor: pointer;

  margin-top: 4px;
  padding: 12px 16px;

  width: 448px;
  height: 120px;

  border: 1px solid $size-border_color;
  border-radius: 4px;
  box-sizing: border-box;

  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border: 1px solid $blue-color;
  }
}

.modal__label_checkbox {
  display: flex;
  align-items: center;
}

.modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.modal__icon_checkbox {
  display: inline-block;

  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid $black-color;
  border-radius: 4px;
}

.modal__checkbox:checked + .modal__icon_checkbox {
  background-color: $blue-color;
  background-image: url("../images/icon\ check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: $blue-color;
}

.modal__checkbox:focus + .modal__icon_checkbox {
  border-color: $blue-color;
}

.modal__agree {
  display: inline-block;
  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $light-gray-color;
}

.modal__conditions {
  margin-left: 5px;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: $blue-color;
}

.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  margin-top: 30px;

  width: 200px;
  height: 50px;

  background: $blue-color;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1, 875;
  letter-spacing: 0.06em;
  color: $white-color;
}
*/
/*# sourceMappingURL=main.css.map */